<app-navbar></app-navbar>

<div class="row contCar">
        <div class="col s12 contImgcarr">
            <div class="carousel carousel-slider center" data-indicators = "true">
                <a routerLink="/catalogo" class="carousel-item"><img src="../../../assets/vejetalHome1.jpg" alt=""></a>
                <a routerLink="/catalogo" class="carousel-item"><img src="../../../assets/vejetalHome2.jpg" alt=""></a>
                <a routerLink="/catalogo" class="carousel-item"><img src="../../../assets/vejetalHome3.jpg" alt=""></a>
                <a routerLink="/catalogo" class="carousel-item"><img src="../../../assets/vejetalHome4.jpg" alt=""></a>
            </div>

        </div>
    </div>

