html{
    background-image: url('../../../assets/login-fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.contCar{
    margin-top: 10px;
    height:700px;
}

.contImgcarr{
    width: 100%;
    height: 700px;
}

.carousel{
    width: 100%;
    height: 700px;
}
.carousel img{
    width: 100%;
}