
        <app-navbar></app-navbar>


        <div id="container" ng-app="catalogo" ng-controller="ctrlCat">
          <div class="row encabezado">
            <div class="col s6 tituloCatalogo"><h4>Catálogo de Productos</h4></div>
            <div class="row col cajabusqueda">
              <div class="col s3 busqueda busProd  form-group "><i class="material-icons lupa" >find_in_page</i>
                <input  type="text" class="form-control buscar" placeholder="Buscar por producto" [(ngModel)]="filtro"/></div>
              <div class="col s2 busqueda busPrec  form-group "><i class="material-icons lupa" >attach_money</i>
                <input  type="text" class="form-control buscar" placeholder="Buscar por Precio" [(ngModel)]="filtroPrecio"/></div>
            </div>


          </div>
          
          <div id="productos">
              <div class="card" *ngFor="let prod of listaProductos | filterBy:['precioProd']:filtroPrecio | filterBy:['nombreProd']:filtro  index as i">
                  <img src= {{prod.imgProd}} alt="">
                  <button id="btnvermas" class="btn-small indigo darken-4" routerLink='/detalleProducto/{{i}}'>Ver Mas...</button>
                  <h6>Producto: {{prod.nombreProd}}</h6>
                  <p>Precio: {{prod.precioProd | currency: "C$"}}</p>
                  <h6>Existencia: {{prod.existenciaProd}}</h6>
                  <div class="row">
                      <button id="btncomprar" class="btn-small amber darken-4 rigth" (click) ="comprar(prod.imgProd, prod.idProd, prod.nombreProd, prod.precioProd, h.value)">Añadir</button>   
                      <input [value]='1' #h type="number" min='1' pattern="^[0-9]+" id="cantidad">
                  </div>
               </div><!--  Fin de Card -->
          </div>


          
          
        
        </div>
        


