*{
    padding: 0;
    margin: 0;
}

#container{
    width: 100%;
    height: 90vh;
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.767);
    overflow:auto;
    border-radius: 5px;
}

.lupa{
    font-size: 2.5em;
}

.encabezado{
    margin: 15px;
}

.busqueda{
    display: flex;
    margin-right: 0;

}

.switchRow label{
    font-size: 1em;
    color: black;
    box-align: center;
}


.buscar{
    color: rgb(0, 0, 0);
}

.buscar::placeholder{
    color: darkgreen;
}

.busqueda:aria-placeholder{
    color: rgb(0, 0, 0);

}

#productos{
    width: 100%;
    display: inline-block;
    align-items: center;
}

.card{
    width: 24%;
    min-height: 100px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0, 2, 4, 1 rgba(0,0,0,0.3);
    margin: 3px;
    display: inline-block;
}

.card img{
    width: 100%;

}

#cantidad{
    width: 35%;
    border: 1px solid rgba(88, 87, 87, 0.562);
    height: 25px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 2px;
}

#btncomprar{
    margin-right: 5px;
    width: 60%;

}
#btnvermas{
    margin-right: 5px;
    width: 100%;    
}

.busqueda input{
    width: 160px;
}

/* Para tableta */
@media only screen and (max-width:768px){
    .card{
        width: 42%;
        min-height: 100px;
        background-color: aliceblue;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0, 2, 4, 1 rgba(0,0,0,0.3);
        margin: 3px;
        display: inline-block;
        margin: 2%;
    }

    #productos{
        display: inline-block;
        align-items: center;
        padding-left: 7%;
    }


    #container .encabezado{
        display: inline-block;
        text-align: center;
        width: 100%;

    }

    #container .encabezado .tituloCatalogo{
        display: inline-block;
        width: 100%;

    }

    #container .encabezado .busProd{
        margin-left: 11%;
        margin-top: 2%;
        width: 38%;
    }

    #container .encabezado .busPrec{
        margin-top: 2%;
        width: 38%;
    }

}

@media only screen and (max-width:375px){
    .container{
        width: 83%;
    }
    .card{
        width: 85%;
        min-height: 100px;
        background-color: aliceblue;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0, 2, 4, 1 rgba(0,0,0,0.3);
        display: inline-block;
        margin-left: 4.5%;
    }

    .tituloCatalogo h4{
        width: 91%;
    }
    .tituloCatalogo h4{
        font-size: 1.6em;
    }

    #container .encabezado .busProd{
        margin-left: 1%;
        margin-top: 2%;
        width: 40%;
        display: column;
    }

    #container .encabezado .busPrec{
        margin-top: 2%;
        width: 40%;
        display: column;
    }
}