

.container{
    width: 70%;
    height: 85vh;
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.767);
    border-radius: 5px;
}

.card{
    width: 95%;
    height: 75vh;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0, 2, 4, 1 rgba(0,0,0,0.3);
    margin-top: 10px;
    display: flex;
    background: none;
    margin: 0 auto;
}

.container h4{
    margin-top: 10px;
}

h5{
    font-size: 1.3em;
}

.card-content{
    padding-top: 5px;
    background: none;
    height: 73vh;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}


.wrappersProd{
    /* border: 1px solid red; */
    background: rgba(144, 238, 241, 0.712);
    padding: 10px;
    height: 70vh;
    display: flex;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
}

.divProductos{
    border-radius: 10px;
    margin-right: -5px;
    overflow: auto;
    height: 67vh;

}

.tituloProd{
    text-align: center
}


.divMonto{
    /* border: 1px solid blue; */
}

.contenedorProductos{
    background: rgba(241, 241, 174, 0.664);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    display: inline-block;
    margin-bottom: 5px;

}

.contenedorProductos img{
    width: 85%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.botPagar{
    display: flex;
}

.btnOK{
    margin: 0 auto;
}


/* Para tableta */

@media only screen and (max-width:768px){
    .container{
        width: 100%;
    }

}