<app-navbar></app-navbar>
<div class="container">
    <h4 class="tituloProd">Carrito de Compras</h4>
  <div class="card">
      <div class="card-content">
        <div class="row wrappersProd">
          <div class="col s7 divProductos"><h6>PRODUCTOS SELECCIONADOS</h6>
            <div class="contenedorProductos" *ngFor = "let carrodat of carrito; index as i">
                <div class="imagen">
                    <img src= {{carrodat.img}} alt="Aqui la Imagen">
                  </div>
                  <div class="datosProd">
                    <h6>Producto: {{carrodat.nombre}}</h6>
                    <h6>Unidades Elegidas: {{carrodat.cantidad}} </h6>
                    <h6>SubTotal: {{carrodat.subtotal | currency: "C$"}}</h6>
                        <button class="btn-floating btn-small waves-effect waves-light red right trash" (click)="borrar(i)"><i class="material-icons" (click)="borrar(i)">delete_forever</i></button>
                  </div>    
            </div>
          </div>
          <div class="col s5 divMonto"><h6>IMPORTE TOTAL</h6>
          <h5>Total a Pagar: {{total | sum | currency: "C$"}}</h5>
          <div class="botPagar">
            <button class="btn btnOk" (click)="pagar()">Pagar</button>
          </div>

          </div>
        </div>
      </div>
  </div>
</div>