
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><i class="material-icons canasta">shopping_basket</i> Mercadito Online Ocotal</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/home"><i class="material-icons">home</i>Inicio</a></li>
      <li><a routerLink="/catalogo"><i class="material-icons">apps</i>Catálogo</a></li>
      <li><a routerLink="/carrito"><i class="material-icons">shopping_cart</i>
        <i *ngIf="this.servicio.contarCarrito() > 0" class="fs-8 fa-circle"><span class="numeroCont">{{this.servicio.contarCarrito()}}</span> </i>Carrito</a></li>
      <li class="adm"><a routerLink="/admin"><i class="material-icons">settings</i>Administrar <i class="material-icons">arrow_drop_down</i></a>
          <ul class="contAdmin">
            <li><a routerLink="/admin"><i class="material-icons">note_add</i>Agregar</a>
                <ul>
                  <li><a routerLink="/producto">Producto</a></li>
                  <li><a href="">Usuario</a></li>
                  <li><a href="">Clientes</a></li>
                  <li><a href="">Catalogo</a></li>
                  </ul>
            </li>   
            <li><a routerLink="/admin"><i class="material-icons">edit</i>Editar</a>
              <ul class="edi">
                <li><a routerLink="/editProd">Productos</a></li>
                <li><a href="">Ventas</a></li>
                <li><a href="">Fechas</a></li>
              </ul>        
            </li> 
            <li><a routerLink="/admin"><i class="material-icons">delete</i>Borrar</a>
              <ul class="bor">
                <li><a href="">Foto</a></li>
                <li><a href="">Evento</a></li>
                <li><a href="">Reportes</a></li>
              </ul>             
            </li> 
            <li><a routerLink="/admin"><i class="material-icons">print</i>Reportes</a>
              <ul class="rep">
                <li><a href="">Ventas</a></li>
                <li><a href="">Pedidos</a></li>
                <li><a href="">Clientes</a></li>
              </ul>             
            </li> 
            <!-- <li><i class="material-icons">edit</i>Productos</li> -->
          </ul>
      </li>
      <li><a  (click)='salir()'><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
    </ul>


  </div>


</nav>
