nav{
    background: rgba(134, 87, 16, 0.794);
}

#nav-mobile{
    display: flex;
}

.brand-logo{
    margin-left: 25px;
    font-size: 1.5em;
}

  .fs-8 {
    font-size:10px;
    bottom: 5px;
    right: 20px;
   }

   .numeroCont{
       position: relative;
        bottom: 24px;
        left: 3px;
        text-align: center;
   }

  
  .fa-circle{
    background: red;
    border-radius: 80%;
    position: relative;
    height: 18px;
    width: 18px;
    top: 15px;
    right: 10px;
    z-index: 1;

  }

nav ul li a{
    display: flex;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    background: rgba(255, 255, 255, 0.781);
    color: rgb(255, 0, 0);

}

/* Oculta Menu Administrar */
nav .nav-wrapper .adm .contAdmin{
    display: none;
}

/* Muestra Menu Administrar */
nav .nav-wrapper .adm:hover > ul{
    position: absolute;
    display: block;
    width: 160px;
    background: rgba(32, 20, 2, 0.808);
    z-index: 1;
}

/* Oculta submenu Agregar */
nav .nav-wrapper .adm .contAdmin li ul{
    display: none;
}

/* Muestra submenu Agregar */
nav .nav-wrapper .adm .contAdmin li:hover > ul{
    display: block;
    width: 170px;
}


nav .nav-wrapper .adm .contAdmin li ul{
    position: relative;
}

nav .nav-wrapper .adm .contAdmin li .edi{
    background: rgba(139, 104, 6, 0.794);
    top: 64px;
}

nav .nav-wrapper .adm .contAdmin li .bor{
    background: rgba(90, 4, 8, 0.781);
    top: 129px;
}

nav .nav-wrapper .adm .contAdmin li .rep{
    background: rgba(54, 2, 54, 0.836);
    top: 194px;
}




nav .nav-wrapper .adm .contAdmin li{
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
}

nav .nav-wrapper .adm .contAdmin li > ul{
    background: rgba(5, 70, 64, 0.808);
     right: -170px;
    top: 0px;
    position: absolute ;
}



nav .nav-wrapper .adm .contAdmin li{
    width: 100%;
}
nav .nav-wrapper .adm .contAdmin li ul >li{ 
    /* background-color: blue; */
    right: -131px;
    top: 0;
}


.material-icons{
    margin-right: 2px;
}

.canasta{
    color: chartreuse;
    font-size: 1.6em;

}

@media only screen and (max-width: 768px){
    .brand-logo{
        font-size: 2em;
        width: 80%;
        margin-left: 10%;

    }


}

@media only screen and (max-width:375px){
    .brand-logo{
        width:90%;
        margin-left: 0;
        font-size: 1.3em;
    }

    .material-icons.canasta{
        margin-right: 10px;
    }
}