<app-navbar></app-navbar>
<div class="container">
  <div class="row col s12 subcontainer">
    <div class="formProducto">
      <div class="content">
        <div class="row card-content">
          <div class="col s8 imgC">
              <div class="imagenContenedor">
                  <div class="avatar-upload">
                    <div class="avatar-edit">
                      <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="imgCambio($event)">
                      <label for="imageUpload"><i class="material-icons">edit</i></label>
                    </div>
                    <div class="avatar-preview">
                      <div id="imagePreview"></div>
                    </div>

                  </div>
                </div>
          </div>
          <div class="col s4 ctnF">
              <form (submit)="enviaProdEdit(pos.value, imgP.value, idP.value, nomP.value, precP.value, exP.value)">
                <div class="form-group">
                  <input type="text" #pos id="pos" name="pos" class="form-control" placeholder="Posicion del Arreglo" class="nada" disabled>
                </div>  
                <div class="form-group">
                      <input  type="text" #imgP id="imgProd" name="imgProd" class="form-control" class="nada" disabled>
                  </div>
                <div class="form-group">
                  <input type="number" #idP id="idProd" name="idProd" class="form-control" placeholder="Escribe el Id del Producto" disabled>
                </div>
                <div class="form-group">
                  <input type="text" #nomP id="nombreProd" name="nombreProd" class="form-control" placeholder="Escribe el nombre del Producto" required >
                </div>
                <div class="form-group">
                  <input type="number" #precP id="precioProd" name="precioProd" class="form-control" placeholder="Escribe el Precio del Producto" required>
                </div>
                <div class="form-group">
                  <input type="number" #exP id="existProd" name="existProd" class="form-control" placeholder="Escribe la Existencia del Producto" required>
                </div>
      
<!--                 <div class="contBotones">
                    <button id="agregaProd" type="submit" class="btn green darken-4" ><i class="material-icons" >note_add</i>Agregar</button>
                    <button id="resetbtn" type="reset" class="btn orange darken-4" (click)="resetForm(form)" ><i class="material-icons" >sync</i>Resetear</button>
                </div> -->
                <button type="submit" class="btn green darken-4 right">Guardar Cambios</button>
              </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col l7 busqueda  form-group "><i class="material-icons lupa" >find_in_page</i>
    <input id="beditP" type="text" class="form-control buscar" placeholder="Buscar por producto" [(ngModel)]="filtro"/>
  <button  type="reset" class="btn orange darken-4" (click)="limpiarB()">Limpiar</button>
  </div>

<div class="card tablaP">

    <table class="highlight centered">

        <thead>
          
          <tr>
              <th>Pos</th>
              <th>Id</th>
              <th>Imagen</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Existencia</th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let pd of listaProductos | filterBy:['nombreProd']:filtro index as i">
            <td><strong>{{i}}</strong></td>
            <td><strong>{{pd.idProd}}</strong></td>
            <td><img src={{pd.imgProd}} class="imgMod"></td>
            <td><strong>{{pd.nombreProd}}</strong> </td>
            <td><strong>{{pd.precioProd}}</strong> </td>
            <td><strong>{{pd.existenciaProd}}</strong> </td>
            <td><button class="btn orange darken-4" (click)="editarPcto(i, pd.imgProd, pd.idProd, pd.nombreProd, pd.precioProd, pd.existenciaProd)">Editar</button> </td>
            <td><button class="btn #f44336 red">Eliminar</button> </td>
          </tr>
        </tbody>
      </table>
</div>


</div>
