
table{
  width: 100%;
}

table th{
  width: 15%;
}

table th tr{
  width: 15%;
}

.container{
    width: 90%;

}

.formProducto{
    background: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    /* display: inline-block; */
    width: 100%;
    margin-top: 10px;
    height: 300px;
}

.imgC{
    padding: 15px;
    height: 300px;
}


.imgMod{
  width: 30%;
}

.ctnF{
    padding-top: 15px;
    height: 300px;
    padding-right: 50px;
    padding-left: 50px;
}


.avatar-upload {
    position: relative;
    width: 100%;
    margin: 10px auto;
}

  .avatar-preview{
    width: 100%;
    margin: 0 auto;
    margin-left: 10px;
    height: 240px;
    position: relative;
    border-radius: 5%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  }

  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .avatar-upload .avatar-edit #imageUpload {
    display: none;
  }

  .avatar-upload .avatar-edit #imageUpload + label {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    top: 0px;
    bottom: 10px;
    left: 0;
    margin-bottom: 0;
    color: darkgreen;
    font-size: 1rem;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .avatar-upload .avatar-edit{
    height: 10px;
  }

  .avatar-upload .avatar-edit #imageUpload + label:hover {
    background: #dceb08;
    border-color: #a8a6a6;
    transform: scale(1.2,1.2);
  }

  .avatar-upload .avatar-edit .material-icons{
    text-align: center;
    margin: 0 auto;
    top:30%;
    bottom: 50%;
    left: 22%;
    position: relative;
}

  .oculto{
    display: none;
  }

  .busqueda{
    display: flex;
    margin-right: 15px;
    width: 40%;
    background-color: #fffafab7;
    border-radius: 10px;
    padding-left: 0;
    padding-top: 5px;
    margin-left: 15px;
    
}

.busqueda:aria-placeholder{
  color: rgb(143, 142, 142);

}

.buscar{
  color: rgb(0, 0, 0);
}

.lupa{
  font-size: 2.5em;
  color: rgb(0, 0, 0);
}

  .tablaP{
      overflow: auto;
      background: rgba(216, 214, 214, 0.788);
      border-radius: 10px;
      margin-left: 15px;
      margin-right: 15px;
      padding-right: 10px;
      height: 500px;
  }

  table{
    display: inline-block;
    overflow: scroll;
  }

  table tbody img{
    width: 100%;
    border-radius: 5px;
  }
