
<div class="container">
  <div class="row">
    <div class="card formProducto">
      <div class="card-content">
        <h4>Agregar Producto</h4>

        <div class="imagenContenedor">
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="imgSeleccionada($event)">
              <label for="imageUpload"><i class="material-icons">edit</i></label>
            </div>
            <div class="avatar-preview">
              <div id="imagePreview"></div>
            </div>
          </div>
        </div>

        <form (submit)="enviaProd(imgP.value, idP.value, nomP.value, precP.value, exP.value)">
            <div class="form-group">
                <input  type="text" #imgP id="imgProd" name="imgProd" class="form-control" class="oculto">
            </div>
          <div class="form-group">
            <input type="number" #idP id="idProd" name="idProd" class="form-control" placeholder="Escribe el Id del Producto" required>
          </div>
          <div class="form-group">
            <input type="text" #nomP id="nombreProd" name="nombreProd" class="from-control" placeholder="Escribe el Nombre del Producto" required>
          </div>
          <div class="form-group">
            <input type="number" #precP id="precioProd" name="precioProd" class="form-control" placeholder="Escribe el Precio del Producto" required>
          </div>
          <div class="form-group">
            <input type="number" #exP id="existProd" name="existProd" class="form-control" placeholder="Escribe la Existencia del Producto" required>
          </div>
          <br>

          <div class="contBotones">
              <button id="agregaProd" type="submit" class="btn green darken-4" ><i class="material-icons" >note_add</i>Agregar</button>
              <button id="resetbtn" type="reset" class="btn orange darken-4" (click)="resetForm(form)" ><i class="material-icons" >sync</i>Resetear</button>
                <!-- <input type="submit" id="agregaProd" value="Agregar Producto" class="btn green darken-4"> -->
            </div>

        </form>
 
<!--         <form #productoForm = "ngForm" (ngSubmit)="onSubmit(productoForm)">
          <div class="form-group">
            authService es una variable importada en el product.component.ts del servicio auth.service.ts
            <input type="number" id="idProd"  class="form-control" name="idProd" #idP="ngModel" [(ngModel)]="authService.selectedProducto.idProd" placeholder="Escribe el Id del producto" required>
          </div>
          <div class="form-group">
            authService es una variable importada en el product.component.ts del servicio auth.service.ts
            <input type="text" id="nombreProd" class="form-control" name="nombreProd" #name="ngModel" [(ngModel)]="authService.selectedProducto.nomProd" placeholder="Escribe el nombre del producto" required> 
          </div>
          <div class="form-group">
            <input type="number" id="precioProd" class="form-control" name="precioProd" #preProd="ngModel" [(ngModel)]="authService.selectedProducto.precioProd" placeholder="Escribe el precio del producto" required>
          </div>
          <div class="form-group">
            <input type="number" id="existProd" class="form-control" name="existenciaProd" #exiProd="ngModel" [(ngModel)]="authService.selectedProducto.existenciaProd" placeholder="Escribe la existencia del producto" required>
          </div>
          <div class="form-group">
            <input  type="text"  id="imgProd"  class="form-control" name="imgProd" #imgP  required>
        </div>
          <br>
          <div class="contBotones">
            <button id="agregaProd" type="submit" class="btn green darken-4" ><i class="material-icons" >note_add</i>Agregar</button>
            <button id="resetbtn" type="reset" class="btn orange darken-4" (click)="resetForm(productoForm)" ><i class="material-icons" >sync</i>Resetear</button>
              <input type="submit" id="agregaProd" value="Agregar Producto" class="btn green darken-4">
          </div>
        </form> -->
      </div>
    </div>
  </div>
</div>