

.card{
    background: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    width: 350px;
}

.card-content{
    display: block;
    align-items: center;
    width: 100%;
}

.card-content h4{
    text-align: center;
    margin-top: 0;
}

::placeholder{
    color: gray;
}

#precioProd{
text-align: center;
height: 2rem;
}

#existProd{
text-align: center;
height: 2rem;
}

#idProd{
    text-align: center;
    height: 2rem;
}

#nombreProd{
    height: 2rem;
}

#agregaProd{
    display: flex;
    margin: 0 auto;
}

#resetbtn{
    display: flex;
    margin: 0 auto;
}

.contBotones{
    display: flex;
}


.formProducto{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.avatar-edit{
    height: 10px;;
}

 .avatar-upload {
    position: relative;
    width: 100%;
    margin: 10px auto;
}

  .avatar-preview{
    width: 100%;
    margin: 0 auto;
    height: 192px;
    position: relative;
    border-radius: 5%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .avatar-upload .avatar-edit #imageUpload {
    display: none;
  }

  .avatar-upload .avatar-edit #imageUpload + label {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 240px;
    margin-bottom: 0;
    color: darkgreen;
    font-size: 1rem;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .oculto{
    display: none;
  }

  .avatar-upload .avatar-edit #imageUpload + label:hover {
    background: #dceb08;
    border-color: #a8a6a6;
    transform: scale(1.2,1.2);
  }


  .avatar-upload .avatar-edit  #imageUpload + label:after {
    /* content: "\f040"; */
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: right;
    margin: auto;
  }

  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  
.avatar-upload .avatar-edit .material-icons{
      text-align: center;
      margin: 0 auto;
      top:30%;
      bottom: 50%;
      left: 22%;
      position: relative;
  }

  /*
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
 */


  