.card-content h3{
    text-align: center;
}

::placeholder{
    color: gray;
}

label{
    color: green;
}   

.card{
    background: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    width: 400px;
}

#registro{
    display: flex;
    margin: 0 auto;
}

.formRegister{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}