<div class="row">
  <div class="container">
    <div class="card formRegister">
      <div class="card-content">
        <h3>Registro</h3>
        <form (submit) = "onSubmitAddUser()">
          <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" name="email" id="emailReg" class="form-control" [(ngModel)]="email" placeholder="Escribe aqui tu correo">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="passwordReg" class="form-control" [(ngModel)]="password" placeholder="Escribe aqui tu contraseña"> 
          </div>
          <div>
              <input type="submit" id="registro" value="Registrar Usuario" class="btn orange accent-4">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>