
.card-content h3{
    text-align: center;
}

::placeholder{
    color: gray;
}

#send{
    display: flex;
    margin: 0 auto;
}

@media only screen and (max-width:375px){
    .container{
        width: 83%;
    }
}