
<div class="row">
  <div class="container">
    <div class="card formLogin">
      <div class="card-content">
        <h3>Iniciar Sesión</h3>
        <form (submit)="onSubmitLogin()">
          <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email" placeholder="Escribe aqui tu correo">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" placeholder="Escribe aqui tu contraseña"> 
          </div>
          <div class="contBotones">
              <input type="submit" id="send" value="Ingresar" class="btn green darken-4">
              <input type="submit" id="registro" value="Registrarse" class="btn orange accent-4" routerLink="/registro">

          </div>

        </form>
      </div>
    </div>
  </div>
</div>