

label{
    color: green;
}

.card{
    background: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    width: 400px;
}

.card-content{
    display: block;
    align-items: center;
    width: 100%;
}

.card-content h3{
    text-align: center;
    margin-top: 15px;
}

::placeholder{
    color: gray;
}

#send{
    display: flex;
    margin: 0 auto;
}

#registro{
    display: flex;
    margin: 0 auto;
}

.contBotones{
    display: flex;
}

.formLogin{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}