<div class="social-bar">
  <a class="casa" href=""><i class="material-icons">home</i></a>
  <a routerLink="/catalogo"><i class="material-icons catal">apps</i></a>
  <a routerLink="/carrito"><i class="material-icons carro">shopping_cart</i></a>
  <a href=""><i class="material-icons set">settings</i></a>
  <a href=""><i class="material-icons">exit_to_app</i></a>

</div>