.social-bar{
    position: fixed;
    left: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    font-size: 2em;
    background: rgba(139, 104, 6, 0.794);
    border-radius: 0 1rem 1rem 0;
    width: 7%;
    height: 28%;
    align-items: center;
    transition:all .3s;

}

.social-bar a{
    text-decoration: none;
}


.material-icons{
font-size: 1.2em;
color: white;
transition:all .1s;
display: flex;
/* border-bottom: 1px solid rgb(255, 255, 255, 0.5); */
margin: 10px;


}

.material-icons:hover{
   /*  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42); */
    font-size: 1.8em;
    color: chartreuse;
}

@media only screen and (width:375px){
    .social-bar{
        width: 11%;
        height: 40%;
    }

    #container #productos .card{
        border-radius: 50%;
    }

}

@media only screen and (width:769px){
    .social-bar{
        left: -7%;

    }
}

