<app-navbar></app-navbar>
<div class="container">
  <div class="card ">
    <div class="card-content">
        <h3 class="tituloProd">Producto : {{detProd.nombreProd}}</h3>
        <hr>
        <div class="row">
            <div>
              <img src={{detProd.imgProd}} alt="Aqui la imagen">
            </div>
            <div>
              <h4 class="precio">Precio : {{detProd.precioProd | currency: "C$"}}</h4>
              <h4 class="existencia">Disponible: {{detProd.existenciaProd}}</h4>
            </div>
        </div>
        <div>
            <button routerLink="/catalogo" class="btn light-green accent-3 btnv2"><i class="material-icons btnVolver">assignment_return</i>Volver</button>
          </div>
    </div>


  </div>
</div>