


.card{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    background: rgba(134, 87, 16, 0.794);
}

.card-content{
    width: 100%;
    padding-top: 10px;
}

.tituloProd{
    margin-top: 5px;
}

.btnVolver{
    margin-right: 5px;
}

.btnv2{
    display: flex;
    margin: 0 auto;
    color: black;
}

img{
    width: 65%;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
}

.precio{
    margin-top: 10px;
    color: white;
}

.existencia{
    margin-top: 10px;
    color: white;
}

.tituloProd{
    color: white;
}