/* You can add global styles to this file, and also import other style files */

/* html{
    background-image :url('./assets/login-fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} */


body{
    background: transparent !important;
}
